.profiles-container {
  min-height: 250px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 0px;
  padding: 25px 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  overflow: hidden;
}

.app-profile-card {
  width: 33%;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  background: #f58220;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 5px;
}

@media screen and (max-width: 960px) {
  .profiles-container {
    flex-direction: column;
    padding: 25px 5px;
  }

  .app-profile-card {
    width: 91%;
  }
}
