@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.page-wrapper {
  padding: 40px 60px;
}

@media screen and (max-width: 960px) {
  .page-wrapper {
    padding: 40px 20px;
    height: 100vh;
  }
}

a {
  text-decoration: none;
  color: black;
}
